[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/git"]
	path = vim/bundle/git
	url = git://github.com/tpope/vim-git.git
